main{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.thingy_line{
  position: absolute;
  width: 4px;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: calc(50% - 2px);
  bottom: 0;
  z-index: 4;
}

canvas{
  display: block;
  width: 100%;
  height: 100%;
}


.notes{
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,.4);
}

.note{
  position: relative;
  display: flex;
  height: 2%;

  .name{
    width: 55px;
    background: #00314f;
    font-size: 15px;
    text-align: left;
    padding: 1px 10px;
    border-top: 1px solid #003b63;
    border-bottom: 1px solid #002b47;
    z-index: 3;
  }

  .line{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .thing{
    position: absolute;
    height: 100%;
    background: #005b99;
    border: 1px solid #00223a;
    z-index: 2;

    &.active{
      background: #000 !important;
    }
  }
}
