$C: #4e61d8;
$Cs: #8064c6;
$D: #a542b1;
$Ds: #ed3883;
$E: #f75839;
$F: #f7943d;
$Fs: #f6be37;
$G: #d1c12e;
$Gs: #95c631;
$A: #4bb250;
$As: #45b5a1;
$B: #4598b6;

.note.C .thing {
	background: $C;
}

.note.Cs .thing {
	background: $Cs;
}

.note.D .thing{
	background: $D;
}

.note.Ds .thing {
	background: $Ds;
}

.note.Db .thing {
	background: $Cs;
}

.note.E .thing{
	background: $E;
}

.note.Eb .thing {
	background: $Ds;
}

.note.F .thing{
	background: $F;
}

.note.Fs .thing {
	background: $Fs;
}

.note.G .thing{
	background: $G;
}

.note.Gs .thing {
	background: $Gs;
}

.note.Gb .thing {
	background: $Fs;
}

.note.A .thing{
	background: $A;
}

.note.As .thing {
	background: $As;
}

.note.Ab .thing {
	background: $Gs;
}

.note.B .thing{
	background: $B;
}

.note.Bb .thing {
	background: $As;
}
